body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #071a42;
}

header > menu {
    margin-block-start: 0px;
}

menu > nav {
    border-radius: 7px;
}

.box-search-and-buttons {
    flex: 0 1 80%;
}

.login-button {
    width: 100px;
    border-radius: 5px;
}

.login-button:hover {
    border: white 1px solid;
}

.favorite-button {
    width: 120px;
    border-radius: 5px;
    transition: 0.3s;
}

.favorite-button:hover {
    border: white 1px solid;
}

.box-carrinho {
    margin: 5px 10px 0px auto;
    background-color: green;
    border-radius: 7px;
    transition: 0.3s;
}

.box-carrinho:hover {
    background-color: #015c01;
}

.box-icon-img-carrinho {
    width: 130px; 
    height: 50px; 
}

.box-icon-carrinho {
    margin: 8px 8px 0px 0px;
}

.icon-carrinho {
    position: static;
}

.box-text-carrinho {
    margin-top: -5px;
}

.text-carrinho {
    height: 20px; 
    color: white;
}

.box-search {
    flex: 1 1 auto;
}

.search {
    flex: 1 1 auto; 
    max-width: 70%;
}

.box-contact-text {
    width: 150px;
}