body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #071a42;
}

header > menu {
    margin-block-start: 0px;
}

menu > nav {
    border-radius: 7px;
}

.box-search-and-buttons {
    flex: 0 1 80%;
}

.login-button {
    width: 100px;
    border-radius: 5px;
}

.login-button:hover {
    border: white 1px solid;
}

.favorite-button {
    width: 120px;
    border-radius: 5px;
    transition: 0.3s;
}

.favorite-button:hover {
    border: white 1px solid;
}

.box-carrinho {
    margin: 5px 10px 0px auto;
    background-color: green;
    border-radius: 7px;
    transition: 0.3s;
}

.box-carrinho:hover {
    background-color: #015c01;
}

.box-icon-img-carrinho {
    width: 130px; 
    height: 50px; 
}

.box-icon-carrinho {
    margin: 8px 8px 0px 0px;
}

.icon-carrinho {
    position: static;
}

.box-text-carrinho {
    margin-top: -5px;
}

.text-carrinho {
    height: 20px; 
    color: white;
}

.box-search {
    flex: 1 1 auto;
}

.search {
    flex: 1 1 auto; 
    max-width: 70%;
}

.box-contact-text {
    width: 150px;
}

#carouselExampleControls {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#carouselExampleControls img {
    height: 290px;
}

@media screen and (max-width: 991px) {
    .carrinho-box {
        margin: 0px 10px 0px 10px;
    }
    .icon-carrinho {
        margin-left: 2px;
    }

    .box-search-and-buttons {
        flex-flow: column;
    }

    .box-search {
        width: 100%;
    }

    .box-for-navbar {
        flex-flow: column;
        align-items: normal;
    }
}

@media screen and (max-width: 767px) {
    #carouselExampleControls img {
        width: auto;
        height: 165px;
    }
}

.title-galerias {
    margin: 55px 0px 30px 150px;
}

@media screen and (max-width:412px) {
    .title-galerias {
        margin-left: 40px;
    }
}

.text-galerias  {
    margin: 0px 0px 30px 80px;
    font-size: xx-large;
}

@media screen and (max-width:991px) {
    .text-galerias {
        margin-left: 20px;
    }
}

.box-galeria {
    margin: 30px 20px 0px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    transition: 0.3s;
    width: auto;
}

.box-galeria:hover {
    box-shadow: black 2px 2px 10px;
}

@media screen and (max-width: 700px) {
    .box-galeria {
        justify-content: space-evenly;
        padding: 0px;
    }
}

.box-galeria-destaques {
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.box-galeria-destaques:hover {
    box-shadow: black 2px 2px 10px;
}

@media screen and (max-width: 700px) {
    .box-galeria-destaques {
        justify-content: space-evenly;
        padding: 0px;
    }
}

.box-products {
    background-image: linear-gradient(to bottom, #a51616,#520505);
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 15px;
}

.title-products {
    text-align: start;
    text-indent: 5px;
    margin: 10px 10px 15px 0px;
    font-size: 20px;
}

.products {
    width: 150px;
    height: 150px;
    margin: 0px 25px 0px 25px;
    background-color: azure;
    border-radius: 3px;
}

.box-text-products {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 10px;
}

.comprar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    text-transform: uppercase;
    font-weight: 600;
}

.comprar:hover {
    text-decoration: underline;
}

.box-comprar-button {
    width: 40px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.box-comprar-button:hover {
    background-color: #014901;
    cursor: pointer;
}

.comprar-button {
    padding: 5px;
}

.favoriter-button {
    background-color: transparent;
    border: none;
}

.favorite-icon {
    transition: transform 0.3s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.box-novidades {
    flex-flow: column;
}

.banner-novidades {
    width: 80%;
    border-radius: 5px;
    height: 150px;
}

@media screen and (max-width: 991px) {
    .box-novidades {
        flex-flow: column;
    }
    .banner-novidades {
        width: 100%;
        height: 90px;
    }
}