.body-login {
    width: 100vw;
    height: 100vh;
    background-color: #0b2866
}

.box-login {
    width: 450px;
    height: 650px;
    background-color: #0d2f79;
    border-radius: 15px;
    box-shadow: #0000003d 1px 1px 10px;
}

.back-button {
    background-color: transparent;
    border: none;
    color: white;
}

.back-button:hover {
    text-decoration: underline;
}

.input-login {
    border-radius: 15px;
    width: 300px;
    height: 45px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.input-login:focus {
    background-color: #88b7f5f5;
}

.trocar-senha {
    color: #d4d4d49c;
    text-decoration: none;   
}

.trocar-senha:hover {
    color: #d4d4d49c;
    text-decoration: underline;
}

.btn-entrar {
    width: 350px;
    height: 35px;
    background-color: #bb2d2d;
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-entrar:hover {
    cursor: pointer;
    background-color: white;
    color: #bb2d2d;
}

.box-ou-others {
    color: white;
}

.box-redes {
    color: white;
}

.hr-login {
    width: 150px;
    border: white 1px solid;
    margin: 13px 5px;
}

.box-other-login {
    background-color: white;
    width: 250px;
    border-radius: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.box-other-login:hover {
    background-color: #d1d1d1;
    color: #000;
}

.box-redes-contate {
    background-color: white;
    width: 250px;
    border-radius: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.box-redes-contate:hover {
    background-color: #d1d1d1;
    color: #000;
}

.btn-other-login {
    background-color: transparent;
    border: none;
}

.btn-redes-sociais {
    background-color: transparent;
    border: none;
}

.img-other-login {
    width: 50px;
    height: 50px;
}

.text-other-login {
    margin: 0px;
}