<body class="body-login p-0 m-0">
    <main class="d-flex justify-content-center align-items-center w-100 h-100">
        <section class="box-login d-flex flex-column align-items-center">
            <div class="d-flex justify-content-between w-100">
                <a href="/" target="_self" rel="nofollow" class="back-button m-2 mb-0 text-decoration-none">
                    <img src="assets/imgs/icons/seta-esquerda.png" alt=""><p class="text-white d-inline m-1">Voltar</p>
                </a>
                <a href="/adm" target="_self" rel="nofollow" class="back-button m-2 mb-0 text-decoration-none">
                    <p class="text-white d-inline m-1">Parte Administrativa</p><img style="height: 16px;" src="assets/imgs/icons/seta-direita.png" alt="">
                </a>
            </div>
            <figure class="mt-5"><img src="assets/imgs/icons/logo-loja.png" alt=""></figure>
            <article>
                <form class="d-flex flex-column align-items-center mt-3">
                    <div>
                        <label for="nome"><img src="assets/imgs/icons/login.png" alt="icone de login"></label>
                        <input class="input-login ps-2 m-2" type="text" name="nome" id="nome" placeholder="Nome de usuario">
                    </div>
                    <div>
                        <label for="senha"><img src="assets/imgs/icons/senha.png" alt="icone de senha"></label>
                        <input class="input-login ps-2 m-2" type="password" name="senha" id="senha" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn-entrar">entrar</button>
                </form>
                <a class="trocar-senha text-end" href="#"><p>Esqueceu a senha?</p></a>
            </article>
            <article>
                <div class="box-ou-others d-flex">
                    <hr class="hr-login">
                    <p>Ou entre com</p>
                    <hr class="hr-login">
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="#" class="box-other-login m-2 d-flex align-items-center">
                        <button class="btn-other-login m-2" id="btn-other-login1"><img class="img-other-login" src="assets/imgs/icons/google.png" alt="icone do google"></button>
                        <p class="text-other-login">Entrar com Google</p>
                    </a>
                    <a href="#" class="box-other-login m-2 d-flex align-items-center">
                        <button class="btn-other-login m-2" id="btn-other-login2"><img class="img-other-login" src="assets/imgs/icons/facebook.png" alt="icone do google"></button>
                        <p class="text-other-login">Entrar com Facebook</p>
                    </a>
                </div>
            </article>
            <article>

            </article>
        </section>
    </main>
</body>